
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.stats-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background: rgb(128, 128, 128, 0.2);
  margin-left: 1.5em;
  margin-right: 1.5em;
  
}

.stats {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  color: black;
 
  // font-family: ;
}

.stats-box{
  .stats{
    padding-top:1em;
    padding-bottom:1em;
    align-items:center;
  }

}
